/* Styles to be viewed during the day */

body {
	background: #ccc url(../img/bg-day.gif);
}

#title a {
	background: url(../img/simonowendesign-logo-day.png) no-repeat;
}

#logo a {
	background: url(../img/so-logo-day.png) no-repeat;
}

nav,
footer {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

nav a,
#social a,
#contact input.wpcf7-submit,
a.scroll {
	color: #333;
	background: #ccc;
	background: rgba(204, 204, 204, .2);
}

nav a:hover,
.current-menu-item a,
#social a:hover,
#contact input.wpcf7-submit:hover,
a.scroll:hover {
	color: #fff;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

.entry-content li {
	background: #222;
}

#contact select,
#contact input,
#contact textarea {
	color: #fff;
	background: #222;
}