/* Styles to be viewed at night */

body {
	background: #111 url(../img/bg-night.png);
}

#title a {
	background: url(../img/simonowendesign-logo-night.png) no-repeat;
}

#logo a {
	background: url(../img/so-logo-night.png) no-repeat;
}

nav,
footer {
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
}

nav a,
#social a,
#contact input.wpcf7-submit,
a.scroll {
	color: #777;
	background: #000;
	background: rgba(0, 0, 0, .2);
}

nav a:hover,
.current-menu-item a,
#social a:hover,
a.scroll:hover {
	color: #ccc;
	background: #000;
	background: rgba(255, 255, 255, .1);
}

article {
	background: #fff;
}

.entry-content li {
	background: #222;
}

#contact input.wpcf7-submit {
	color: #333;
	background: #000;
}

#contact input.wpcf7-submit:hover {
	color: #999;
	background: #444;
}

#contact select,
#contact input,
#contact textarea {
	background: #eee;
}