
/*
	Mixins
	-------------------------------------------------------
*/

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin transition {
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

@mixin box-shadow ($top, $left, $blur, $r, $g, $b, $a) {
	-webkit-box-shadow: $top $left $blur rgba($r,$g,$b,$a);
	-moz-box-shadow: $top $left $blur rgba($r,$g,$b,$a);
	box-shadow: $top $left $blur rgba($r,$g,$b,$a);
}