/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

@charset "utf-8";

@import "vars";
@import "mixins";
@import "normalize";

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
  color: $darkgrey;
}

body {
  font-size: .8em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  color: $lightgrey;
  background: $highlight;
  text-shadow: none;
}

::selection {
  color: $lightgrey;
  background: $highlight;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  float: left;
  width: 100%;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  background: $white url(http://simonowendesign.appspot.com/img/bg.png);
}

#title a {
  background: url(http://simonowendesign.appspot.com/img/simonowendesign-logo-blue-beanie.png) no-repeat 50% 0;
}

#logo a {
  background: url(http://simonowendesign.appspot.com/img/so-logo-blue-beanie.png) no-repeat 50% 0;
}

a {
  color: $darkgrey;
}
a:hover {
  color: $highlight;
}

/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: $highlight; }

nav,
footer {
  border-top: 1px solid $lightgrey;
  border-bottom: 1px solid $lightgrey;
}

nav a,
#social a,
#contact input.wpcf7-submit,
a.scroll {
  color: $darkgrey;
  background: $lightgrey;
  background: rgba(204, 204, 204, .2);
}

nav a:hover,
.current-menu-item a,
#social a:hover,
#contact input.wpcf7-submit:hover,
a.scroll:hover {
  color: $white;
  background: $darkgrey;
  background: rgba(0, 0, 0, .8);
}

#social span { /* Hide full social link names and only show first letter */
  display: none;
}

.entry-content li {
  background: $darkgrey;
}

.entry-content li a {
  color: $white;
  text-decoration: none;
}

#contact select,
#contact input,
#contact textarea {
  color: $white;
  background: $darkgrey;
}

img {
  max-width: 100%;
}

body.home img {
  max-height: 580px;
}

body.home .poster img {
  border: 10px solid $darkgrey;
  box-shadow: inset 0 0 5px 0 #666;
  -webkit-box-shadow: inset 0 0 5px 0 #666;
  max-height: 600px;
  padding: 40px;
  background: $white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image {
  text-align: center;
  margin: 4% 0;
}

.wrap {
  margin: 1% auto;
  max-width: 1000px;
}

article {
  padding: 2%;
  margin: 0 0 4%;
  float: left;
  width: 96%;
}

body.single .entry-content {
  width: 100%;
  float: left;
  margin: 0 0 30px;
}


/* Typography */
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h1,
h2,
h3,
#tagline {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: normal;
}

#social a {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.5em;
  font-style: italic;
}

h1 a,
h2 a,
h3 a,
nav a,
#social a {
  text-decoration: none;
}

#title a,
#logo a {
  text-indent: -9999px;
  display: block;
  height: 312px;
}

#logo a {
  height: 317px;
}

#tagline {
  text-align: center;
  margin: 30px 0;
}

p {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.2em;
  line-height: 2em;
  margin: 0 0 2em;
}

.entry-meta a {
  text-decoration: none;
}

.entry-meta {
  font-size: .9em;
  font-style: italic;
  margin: 1% 0;
}

/* Columns */
.col-one   { float: left; width: 13%; }
.col-two   { float: left; width: 30%; }
.col-three { float: left; width: 47%; }
.col-four  { float: left; width: 64%; }
.col-five  { float: left; width: 81%; }
.col-six   { float: left; width: 98%; }

.col-one,
.col-two,
.col-three,
.col-four,
.col-five,
.col-six {
  margin: 0 2% 2% 0;
  padding: 1%;
}

.nmr {
  margin-right: 0;
}

.np {
  padding: 0;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.t a {
  @include transition;
}

/* Description */
.description {
  border-top: 1px solid #555;
}

/* Nav */
nav,
footer {
  text-align: center;
  margin: 2% 0;
}

article footer {
  margin: 1em 0;
}

nav li {
  padding: 30px 4%;
  display: inline-block;
}

nav a {
  padding: 15px 25px;
  font-size: 1.5em;
  @include border-radius(5px);
}

nav a:hover,
.current-menu-item a {
  cursor: pointer;
  @include border-radius(25px);
}

.nav-previous {
  float: left;
  margin: 0 0 2em;
}

.nav-next {
  float: right;
}

footer {
  text-align: left;
  float: left;
  width: 98%;
  padding: 1%;
}

footer .col-three {
  margin-bottom: 0;
}

#plus-one {
  float: left;
  padding: 0 3%;
}

.copyright {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: .9em;
  margin: 0;
}

#social {
  margin: 0;
  text-align: right;
}

#social a {
  margin: 0 0 0 10px;
  padding: 12px 20px;
  @include border-radius(5px);
}

#social li {
  list-style-type: none;
  display: inline-block;
}

#social a:hover {
  @include border-radius(25px);
}

/* Comments */
li.comment {
  list-style: none;
}

.avatar {
  border: 4px solid $white;
  @include box-shadow(0,0,3px,5,5,5,0.5);
  @include border-radius(3px);
}

.comment-author {
  position: relative
}

.date {
  top: 20px;
  color: $lightgrey;
  font-style: italic
}

.comment-author .fn {
  padding: 0 0 0 10px;
}

.comment article {
  border: 1px solid $lightgrey;
  @include border-radius(3px);
}

.comment .bypostauthor article {
  border: 1px solid $darkgrey;
  @include border-radius(3px);
}

.comment article:hover {
  @include box-shadow(0,0,10px,0,0,0,0.2);
}

/* List styles */
.entry-content ul {
  margin: 0;
}

.entry-content li {
  background-color: $darkgrey;
  display: inline-block;
  color: $white;
  padding: 6px 24px;
  margin: 0 5px 15px;
  text-decoration: none;
  text-shadow: 1px 1px 0 #444;
  @include border-radius(3px);
}

/* Contact Form 7 */
#contact ul {
  list-style-type: none;
}

#contact ul,
#contact p {
  margin: 0;
}

#contact select,
#contact input,
#contact textarea {
  border: 0;
  border-bottom: 2px solid $lightgrey;
  font-size: 1.4em;
  margin: 0.2em 0 0.8em;
  padding: 10px 9px 7px;
  width: 96%;
}

#contact textarea {
  height: 340px;
  margin-bottom: 38px;
}

#contact input.wpcf7-submit {
  width: 100%;
  border: 0;
  -webkit-appearance: none;
  @include transition;
}

#contact input.wpcf7-submit:hover {
  cursor: pointer;
  border: 0;
  @include border-radius(15px);
}

.wpcf7-not-valid-tip {
  position: absolute !important;
  left: 0 !important;
  top: -80% !important;
  padding: 2% !important;
  background: #eee !important;
  border: 0 !important;
  width: 96% !important;
  height: 100% !important;
  font-size: 1.4em !important;
}

.comment .wpcf7-not-valid-tip {
  top: 22% !important;
}

.wpcf7-not-valid {
  border-bottom: 2px solid #f00 !important;
}

div.wpcf7-validation-errors {
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

.wpcf7-response-output {
  border: 0 !important;
  float: left !important;
  margin: 0 !important;
}

/* To The Top */
.scroll-wrap {
  text-align: center;
  float: left;
  width: 100%;
  margin: 10px 0 40px;
}

a.scroll {
  padding: 15px 0;
  text-decoration: none;
  font-size: 1.5em;
  font-style: italic;
  font-family: Georgia, Times, "Times New Roman", serif;
  display: block;
  margin: 0 auto;
  width: 30%;
  @include border-radius(15px);
}

.scroll:hover {
  @include border-radius(25px);
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/**
 * Media Queries
 */
@media only screen and (max-width: 768px) {

  body {
    overflow-x: hidden; /* Hide elements that overflow e.g. long link names ergh.. */
    margin: 0 0 40px; /* Fix issue with scroll button appearing */
  }

  /* Style adjustments for viewports 768px and below go here */
  .col-one,
  .col-two,
  .col-three,
  .col-four,
  .col-five,
  .col-six {
    float: left;
    width: 98%;
  }

  a {
    word-wrap: break-word;
  }

  #logo {
    margin: 1% auto;
  }

  nav,
  footer {
    border: 0;
  }

  nav li {
    width: 92%;
    padding: 0 4%;
  }
  
  nav a {
    padding: 10px 0;
    border: 0;
  float: left;
  width: 100%;
    @include border-radius(10px);
  }
  
  nav a:hover,
  .current-menu-item a {
    border: 0;
    @include border-radius(10px);
  }

  input,
  textarea {
    width: 90%;
    padding: 5%;
  }
  
  .copyright {
    text-align: center;
  }

  #social li {
    float: left;
    margin: 10px 1%;
    width: 100%;
  }
  
  #social a {
    float: left;
    text-align: center;
    margin: 0;
    padding: 12px 0;
    width: 100%;
  }
  
  .entry-content li {
    width: 70%;
  }

  #social span {
    display: inline-block;
  }

  a.scroll {
    width: 90%;
  }

}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}